.intro-content {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}